.drop-column{
  padding-top: $navbar-size;
  min-height: 100vh;
}


.todo, .in-progress, .done{
  @extend .col-sm-4;
}
.todo{
  background-color: red;
}
.in-progress{
  background-color: blue;
}
.done{
  background-color: green;
}



.drop-column{
  .ticket-container{
    @extend .col-lg-6;
    margin-bottom: 15px;
  }
}
