$bug-color:red;

.ticket{
  background-color: #ffffff;
  border: 2px #E6E6E6 solid;
  border-radius: 2px;
  cursor: move;
  .header{
    padding: 8px 20px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    h3{
      margin: auto;
      line-height: 30px;
      height: 30px;
      overflow: hidden;
    }
    .icons{
      float: right;
      line-height: 30px;
      height: 30px;
      overflow: hidden;
    }
  }
  .content{
    padding: 12px 20px;
    h2{
      margin: auto;
    }
    height: 180px;
    overflow: hidden;
  }
  .footer{
    padding: 2px 20px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;

  }
}


.ticket.bug{
  .header{
    border-bottom-color: $bug-color;
    h3{
      color: $bug-color;
    }
    .icons{
      span.glyphicon{
        color: $bug-color;
      }
    }
  }
}
