<div class="row tickets">
<div class="todo drop-column">
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>
  <ng-include src="'/templates/ticket.html'"></ng-include>


</div>
<div class="in-progress drop-column"></div>
<div class="done drop-column"></div>
</div>

