<div class="ticket-container" data-drag="true" jqyoui-draggable>
  <div class="ticket bug">
    <div class="header">
      <div class="icons">
        8 <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </div>
      <h3>B34</h3>
    </div>

    <div class="content">
      <h2>There is an issue hereThere is an issue hereThere is an issue hereThere is an issue hereThere is an issue
        hereThere is an issue hereThere is an issue hereThere is an issue hereThere is an issue hereThere is an issue
        here</h2>
    </div>

    <div class="footer">
      bla bla bla
    </div>
  </div>
</div>
